body {
  font-family: Arial;
  margin: 0;
  background: #ffffff;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(23, 20, 20, 0.932);
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
    gap: 50px;
    position: relative;
}

/* LOGO LEFT */
.logo-area {
    position: absolute;
    left: 25px;
    display: flex;
    align-items: center;
}

.logo-area img {
    height: 40px;
    width: auto;
}

/* NAV CENTER BUTTONS */
.nav-center {
    display: flex;
    gap: 50px;
}

.nav-btn {
    cursor: pointer;
    font-weight: 500;
    color: #ece9e9;
    font-size: 18px;
}

.nav-btn.active {
    color: #ffffff;
    text-decoration: underline;
}

/* LOGOUT BUTTON */
.logout-btn {
    position: absolute;
    right: 25px;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.logout-btn:hover {
    background: #e60000;
}

/* MAIN */
.main {
  padding: 25px;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.actions input {
  flex: 1;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.actions button {
  padding: 10px 15px;
  background: #fc0303;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCT CARDS */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
    width: 180px;
    background: rgb(48, 46, 46);
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    color: white;
    position: relative;
}

/* DELETE BUTTON */
.delete-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    background: #ff4d4d;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 20px;
}

.delete-btn:hover {
    background: #e60000;
}

.product-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.popup-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content input {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancelBtn {
  background: #999;
  color: white;
}

#saveBtn {
  background: #fc0000;
  color: white;
}
/* RESERVATION CARD */
.reservation-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reservation-card {
  background: #5e5959;
  padding: 12px 15px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.reservation-card:hover {
  background: #3a3a3a;
}
/* Status Buttons*/
.status-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.status-btn {
  background: #ff2f00;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.status-btn:hover {
  background: #00ff22;
}
.close-details-btn {
  margin-top: 20px;
  background: #555;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.close-details-btn:hover {
  background: #333;
}


.reservation-card {
  background: #2b2b2b;
  padding: 12px 15px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.res-info {
  flex: 1;
}
.res-status {
  margin-right: 15px;
  color: #ffd966;
  font-weight: bold;
}