.low-stock-text {
    color: #ff4d4d;
    font-weight: bold;
}

.low-stock-card {
    border: 2px solid #ff4d4d;
}
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

    /* --- Background Image Section --- */
    background-image: url('purebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f2f2f2;
}

.login-logo {
    width: 310px;
    height: auto;
    margin-bottom: 20px;
    /* Spacing to tol */
    display: block;
}


.login-box {

    background: rgba(0, 0, 0, 0.8);
    padding: 60px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Eto container idoloooo */
.login-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0808;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #ff0000;
}

/* admin html */


